<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>   
</head>
   
<body id="fondobody">

    <header id="header">
      <%- include('../partials/header') %>
      
    </header>
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          
        </div>
      </div>
      <div class="col-12">
        <form action="/products/create" method="POST">
          <div class="row product-detail">
            <h2 class="products-title">Carga de producto nuevo</h2>
            <div class="col-12 col-md-6">
              <label for="name" class="form-label">Nombre del producto:</label>
              <input type="text" id="name" name="name" placeholder="Alimento Seco Cat chow" class="form-input">
              
              <% if (locals && locals.errors) { %>
                <% if (locals.errors[0].param=="name") { %>
                  <h3> <%= locals.errors[0].msg %>  </h3> 
                <% } %>
              <% } %>
  
            </div>
            <div class="col-12 col-md-6">
              <label for="price" class="form-label">Precio del producto:</label>
              <input type="number" id="price" name="price" placeholder="$130,00" class="form-input">
            </div>
            <div class="col-12 col-md-6">
              <label for="discount" class="form-label">Descuento:</label>
              <input type="number" id="discount" name="discount" placeholder="10%" class="form-input">
            </div>
            <div class="col-12 col-md-6">
              <label for="id_categoria" class="form-label">Categoría:</label>
              <select name="id_categoria" id="category" class="form-input">
                <% for (let i = 0; i < categoria.length;i++){ %>
                  <option value="<%=categoria[i].id%>"><%=categoria[i].typeCategory%></option>
                  <% } %>
                <!--<option value="">Seleccionar</option>
                <option value="alimseco">Alimentos secos</option>
                <option value="alimhumedos">Alimentos húmedos</option>
                <option value="accesorios">Accesorios</option>
                <option value="Juguetes">Juguetes</option>
                <option value="visited">Últimos agregados</option>-->
              </select>
            </div>
            <div class="col-12 col-md-6">
              <label for="id_animal" class="form-label">Tipo de animal:</label>
              <select name="id_animal" id="animal" class="form-input">
                <% for (let i = 0; i < animal.length;i++){ %>
                  <option value="<%=animal[i].id%>"><%=animal[i].typeAnimal%></option>
                  <% } %>
                <!--<option value="">Seleccionar</option>
                <option value="perro">Perro</option>
                <option value="gato">Gato</option>-->
              </select>
            </div>
            <div class="col-12 col-md-6">
              <label for="qty" class="form-label">Cantidades:</label>
              <input type="number" id="qty" name="qty" placeholder="10" class="form-input">
            </div>
            <div class="col-12 col-md-6">
              <label for="imageProduct" class="form-label">Seleccionar Imagen:</label>
              <input type="file" name="imageProduct"/>
            </div>
            <div class="col-12">
              <label for="description" class="form-label">Descripción:</label>
              <textarea name="description" id="description" class="form-input"></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="botoncito">Guardar producto</button>
            </div>
          </div>
        </form>
      </div>
  
    </div>
  <footer class="footer">
    <%- include ('../partials/footer') %>
</footer> 
</body>
